# Port for the Express server to listen on (Render will automatically override this in production)
PORT=3000

# MongoDB Connection URI (use your MongoDB Atlas connection string for production)
MONGODB_URI=mongodb://127.0.0.1:27017/events-db
